aside {
  float: right;
  width: 312px;
  padding: 0 30px 28px 28px;
  box-sizing: border-box;

  section {
    margin: 0 0 35px;
    &:first-child h2:before {
      content: "?";
      background-color: @color-dark;
      color: @color-link;
      font-size: 16px;
      font-weight: 500;
      width: 30px;
      padding: 2px 0 0 2px;
      text-align: center;
      margin-right: 15px;
      display: inline-block;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: @color-dark;
    letter-spacing: 3px;
    border-bottom: 5px solid @color-dark;
    line-height: 23px;
    margin-top: 0;
    &:before {
      content: "!";
      background-color: @color-dark;
      color: @color-link;
      font-size: 16px;
      font-weight: 500;
      width: 30px;
      padding: 2px 0 0 2px;
      text-align: center;
      margin-right: 15px;
      display: inline-block;
    }
  }
  nav {
    .link_cloud {
      margin: 0;
      padding: 0;
    }
    .link_cloud li {
      display: inline-block;
      position: relative;
      margin-right: 10px;
    }
    .link_cloud a {
      color: @color-link;
      font-size: 12px;
      white-space: nowrap;
      background-color: @color-dark;
      padding: 0 0 1px 5px;
      margin-bottom: 4px;
      margin-top: 0;
      line-height: 17px;
      display: block;
    }
    .link_cloud a:after {
      content: "";
      width: 6px;
      height: 6px;
      background: white;
      border-radius: 6px;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 1px;
    }
    .link_cloud a:before {
      content: "";
      height: 0;
      width: 0;
      border: 9px solid transparent;
      border-left-color: @color-dark;
      border-right: 0;
      position: absolute;
      top: 0;
      left: 100%;
    }
    .link_cloud a:hover {
      background-color: #b2d4ec;
    }
    .link_cloud a:hover:before {
      border-left-color: #b2d4ec;
    }
  }
}
.hidden_container {
  &.hidden {
    display: none;
  }
  &.visible {
    position: absolute;
    top: 0;
  }
  h2 {
    display: none;
    &.active {
      display: block;
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
    position: relative;
  }
  aside {
    width: auto;
    padding: 10px 60px 0 60px;
    margin: 0;
    float: none;
    section{
      margin: 0;
      &.visible {
        display: block;
      }
      h2, p {
        display: none;
      }
    }
    .link_cloud {
      display: inline-block;
    }
    nav {
      text-align: center;
      padding: 10px 0 0 0;
    }
  }
  .hidden_container {
    display: none;
    &.visible {
      display: inline;
      width: 100%;
    }
    &.fixed {
      display: inline;
      position: fixed;
      top: 54px;
      z-index: 100;
    }
    p {
      padding: 10px 50px 10px 0;
      text-align: justify;
    }
    h2{
      &.hidden {
        display: none;
      }
      &.h_about, &.h_idea {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 4px;
        background-color: #EEF4FA;
        color: #6290B4;
        width: 110px;
        transform: rotate(-90deg);
        top: 17px;
        position: relative;
        left: -33px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        float: left;
        margin-bottom: 20px;
        margin-right: -30px;
      }
      &.h_about {
        float: left;
        margin-right: -33px;
        left: -33px;
      }
      &.h_idea {
        float: right;
        margin-right: 0;
        left: 33px;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .wrapper {
    aside {
      padding-top: 0px;
      background-color: #e1eefc;
      nav{
        display: none;
        &.visible{display: inherit}
      }
      &.mob_visible {
        background-color: #e1eefc;
        color: #6689a5;
        display: block;
        padding: 10px 30px 5px 30px;
      }
      p {
        margin: 0;
        padding: 10px 0;
      }
    }
  }
}