h1,
h2 {
  font-family: @font-headers;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: @color-text;
}
ul {
  list-style-type: none;
}

h1 a:hover,
.autor:hover {
  text-decoration: underline;
}
.wrapper {
  margin: auto;
  min-height: 100%;
  height: auto;
  max-width: 973px;
  .container {
    margin-right: 312px;
  }
}
.main_container {
  min-height: 100%;
  padding-bottom: 54px;
}
article {
  text-align: justify;
}
footer {
  height: 54px;
  background-color: @color-bg;
  clear: left;
  margin-top: -54px;
  .ava {
    background-image: url("../img/logo_sm.png");
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    background-position: 28px 8px;
  }
}
.preloader {
  text-align: center;
  width: 46px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url("../img/snipper.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 46px;
  margin: auto;
  margin-bottom: 15px;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);}
  100% {
    transform:rotate(360deg);}
}

@media screen and (max-width: 768px) {
  html {
    min-width: auto;
  }
  footer {
    display: none;
  }
  .wrapper {
    .container {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 460px) {
  html {
    min-width: 340px;
  }
}
.fixed + .wrapper {
  padding-top: 54px;
}