.container {
  article {
    margin: 50px 0 8px 30px;
    figure {
      margin: 0;
      padding: 0;
      img {
        max-width: 100%;
      }
    }
    figcaption {
      font-size: 20px;
      color: @color-text;
      margin: 5px 15px 13px 0;
      padding: 0;
    }
    .info {
      border-bottom: 1px solid #e2e5e8;
      border-top: 1px solid #e2e5e8;
      height: 40px;
      margin: 0 0 17px;
      padding: 0;
      li {
        display: inline-block;
      }
    }
  }
}
time,.autor,article,p {
  font-size: 12px;
  color: @color-text;
  text-align: justify;
}


time,.autor,.social {
  line-height: 40px;
}
time {
  &:before {
    content: url("../img/clock.png");
    padding: 7px;
  }
}
.autor {
  &:before {
    content: url("../img/big_foot.png");
    padding: 0 7px;
    position: relative;
    display: inline-block;
    top: 3px;
  }
}
.social {
  float: right;
  li {
    display: inline-block;
    a {
      display: inline-block;
      margin-top: 8px;
      &.fb {
           .sprite(@ico-fb);
        &:hover {
          .sprite-position(@ico-fb-over);
        }
      }
      &.gg {
          .sprite(@ico-gg);
        &:hover {
          .sprite-position(@ico-gg-over);
        }
      }
      &.tw {
        .sprite(@ico-tw);
        &:hover {
          .sprite-position(@ico-tw-over);
        }
      }
      &.vk {
        .sprite(@ico-vk);
        &:hover {
          .sprite-position(@ico-vk-over);
        }
      }
      &.ya {
        .sprite(@ico-ya);
        &:hover {
         .sprite-position(@ico-ya-over);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 948px){
  .container article .info {
    li:first-child{
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    .container {
      width: auto;

      article {
        margin: 30px 0 8px 30px;
        padding-right: 67px;
        position: relative;
      }
      article img {
        width: 100%;
      }
      .social {
        position: absolute;
        float: right;
        top: 0;
        right: 0;
        ul li {
          display: inherit;
          float: right;
          clear: right;
          margin: 0;
          padding: 0;
          line-height: 18px;
          a{
            margin-top: 0px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .wrapper {
    .container {
      article {
        margin: 40px 30px 70px;
        padding-right: 0px;
        padding-bottom: 1px;
        figure {
          background-color: #f4f5f6;
          text-align: center;
          margin-bottom: 10px;
          figcaption {
            margin: 0;
            padding: 0 0 8px 0;
          }
          a {
            font-size: 15px;
          }
        }
        .social {
          position: absolute;
          top: 100%;
          left: 0;
          ul {
            padding: 0;
            display: flex;
            justify-content: space-between;
          }
          ul li {
            float: none;
            display: inline;
          }
        }
      }
    }
  }
}