header {
  text-align: center;
  a {
    font-size: 35px;
    color: @color-dark;
    letter-spacing: 6px;
    vertical-align: baseline;
    padding: 18px;
    margin: 0;
    display: block;
    font-family: @font-headers;
    font-weight: 400;
  }
  img {
    vertical-align: middle;
  }
}
nav.menu {
    background-color: @color-bg;
    border-bottom: 4px solid @color-border;
    max-height: 54px;
    width: 100%;
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      .menu_list:before {
        content: url("../img/logo_sm.png");
        padding-top: 7px;
        margin-left: -50px;
        position: relative;
        float: left;
      }
    }
    .btn {
        font-size: 20px;
        color: #608dc1;
        background-color: #7ca7d9;
        line-height: 50px;
        margin-top: 2px;
        float: left;
        cursor: pointer;
        width: 44px;
        display: none;
        position: relative;
      &.b_idea, &.nav-btn {
        float: right;
      }
      &.b_aside {
        background-image: url("../img/stiker.png");
        background-repeat: no-repeat;
        background-position: 5px;
        display: none;
      }
      &.active:after,&.active:before {
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        margin-top: 2px;
        z-index: 100;
      }
      &.active:after {
        bottom: -16px;
        border-color: rgba(107, 154, 208, 0);
        border-top-color: #6b9ad0;
        border-width: 7px;
        margin-left: -7px;
      }
      &.active:before {
        bottom: -28px;
        border-color: rgba(198, 222, 250, 0);
        border-top-color: #c6defa;
        border-width: 13px;
        margin-left: -13px;
      }
    }
    .menu_list {
      margin: auto;
      width: 547px;
      min-height: 54px;
      padding: 0;
      li {
        float: left;
        min-width: 100px;
        text-align: center;
        height: 54px;
        position: relative;
        a {
          text-transform: uppercase;
          font-size: 16px;
          color: @color-link;
          text-decoration: none;
          padding: 16px 15px;
          vertical-align: middle;
          line-height: 54px;
          &:hover {
            text-transform: uppercase;
            font-size: 16px;
            color: @color-link;
            line-height: 54px;
            text-decoration: none;
            background-color: @color-menu-bg;
          }
        }
      }
      li {
        &.active:after, &.active:before {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &.active:after {
            border-color: rgba(107, 154, 208, 0);
            border-top-color: @color-bg;
            border-width: 7px;
            margin-left: -7px;
          }
        &.active:before {
            border-color: rgba(198, 222, 250, 0);
            border-top-color: @color-border;
            border-width: 13px;
            margin-left: -13px;
        }
      }
    }
}

@media screen and (max-width: 768px) {
  nav.menu {
    text-align: center;
    .btn {
      &.b_idea, &.b_about  {
        display: block;
      }
    }
    .m_wrapp {
      display: inline-block;
      .menu_list {
        a {
          padding: 16px 5px;
        }
      }
    }
    &.fixed {
      .menu_list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
      }

      .menu_list:before {
        content: none;
      }
    }
    .menu_list {
      width: auto;
      a {
        padding: 16px 5px;
      }
      li {
        min-width: auto;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  header {
    a {
      font-size: 20px;
      letter-spacing: 3px;
    }
    a img {
      width: 35px;
      min-width: 35px;
    }
  }
  nav.menu {
    border: none;
    min-height: 34px;
      .btn {
        line-height: 30px;
        height: 30px;
        width: 30px;
        margin-right: 2px;
        display: inherit;
        &.b_idea {
          float: left;
        }
        &.b_aside {
          display: block;
        }
    }
    &.fixed {
      background-image: url("../img/fix-mob-logo.png");
      background-repeat: no-repeat;
      background-position: 110px;
      height: 34px;
      .menu_list {
        display: none;
      }
    }
    .m_wrapp {
      width: 100%;
      display: none;
      &.visible {
        display: inline-block;
      }
    }
    .menu_list {
      background-color: #E1EEFC;
      height: 100%;
      margin: 2px 0 0 0;
      li {
        float: inherit;
        margin: 0 20px;
        height: 40px;
        border-bottom: 1px solid white;
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
        &:last-child {
          border-bottom: 0;
        }
        a {
          color: #6b9ad0;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 45px;
          &:hover{
            background-color: transparent;
            text-decoration: underline;
            line-height: 45px;
          }
        }
      }
      &.visible {
        display: block;
      }
    }
  }
  .nav-btn {
    float: right;
    :first-child{
      margin-top: 10px;
    }
    span {
      background-color: #FFF;
      height: 2px;
      width: 20px;
      float: right;
      clear: both;
      margin-bottom: 3px;
      display: block;
      margin-right: 4px;
    }
  }
}