/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@ico-fb-name: 'ico_fb';
@ico-fb-x: 345px;
@ico-fb-y: 176px;
@ico-fb-offset-x: -345px;
@ico-fb-offset-y: -176px;
@ico-fb-width: 49px;
@ico-fb-height: 24px;
@ico-fb-total-width: 638px;
@ico-fb-total-height: 420px;
@ico-fb-image: '../img/sprite.png';
@ico-fb: 345px 176px -345px -176px 49px 24px 638px 420px '../img/sprite.png' 'ico_fb';
@ico-fb-over-name: 'ico_fb_over';
@ico-fb-over-x: 276px;
@ico-fb-over-y: 220px;
@ico-fb-over-offset-x: -276px;
@ico-fb-over-offset-y: -220px;
@ico-fb-over-width: 49px;
@ico-fb-over-height: 24px;
@ico-fb-over-total-width: 638px;
@ico-fb-over-total-height: 420px;
@ico-fb-over-image: '../img/sprite.png';
@ico-fb-over: 276px 220px -276px -220px 49px 24px 638px 420px '../img/sprite.png' 'ico_fb_over';
@ico-gg-name: 'ico_gg';
@ico-gg-x: 597px;
@ico-gg-y: 0px;
@ico-gg-offset-x: -597px;
@ico-gg-offset-y: 0px;
@ico-gg-width: 41px;
@ico-gg-height: 24px;
@ico-gg-total-width: 638px;
@ico-gg-total-height: 420px;
@ico-gg-image: '../img/sprite.png';
@ico-gg: 597px 0px -597px 0px 41px 24px 638px 420px '../img/sprite.png' 'ico_gg';
@ico-gg-over-name: 'ico_gg_over';
@ico-gg-over-x: 536px;
@ico-gg-over-y: 44px;
@ico-gg-over-offset-x: -536px;
@ico-gg-over-offset-y: -44px;
@ico-gg-over-width: 41px;
@ico-gg-over-height: 24px;
@ico-gg-over-total-width: 638px;
@ico-gg-over-total-height: 420px;
@ico-gg-over-image: '../img/sprite.png';
@ico-gg-over: 536px 44px -536px -44px 41px 24px 638px 420px '../img/sprite.png' 'ico_gg_over';
@ico-tw-name: 'ico_tw';
@ico-tw-x: 207px;
@ico-tw-y: 264px;
@ico-tw-offset-x: -207px;
@ico-tw-offset-y: -264px;
@ico-tw-width: 49px;
@ico-tw-height: 24px;
@ico-tw-total-width: 638px;
@ico-tw-total-height: 420px;
@ico-tw-image: '../img/sprite.png';
@ico-tw: 207px 264px -207px -264px 49px 24px 638px 420px '../img/sprite.png' 'ico_tw';
@ico-tw-over-name: 'ico_tw_over';
@ico-tw-over-x: 138px;
@ico-tw-over-y: 308px;
@ico-tw-over-offset-x: -138px;
@ico-tw-over-offset-y: -308px;
@ico-tw-over-width: 49px;
@ico-tw-over-height: 24px;
@ico-tw-over-total-width: 638px;
@ico-tw-over-total-height: 420px;
@ico-tw-over-image: '../img/sprite.png';
@ico-tw-over: 138px 308px -138px -308px 49px 24px 638px 420px '../img/sprite.png' 'ico_tw_over';
@ico-vk-name: 'ico_vk';
@ico-vk-x: 69px;
@ico-vk-y: 352px;
@ico-vk-offset-x: -69px;
@ico-vk-offset-y: -352px;
@ico-vk-width: 49px;
@ico-vk-height: 24px;
@ico-vk-total-width: 638px;
@ico-vk-total-height: 420px;
@ico-vk-image: '../img/sprite.png';
@ico-vk: 69px 352px -69px -352px 49px 24px 638px 420px '../img/sprite.png' 'ico_vk';
@ico-vk-over-name: 'ico_vk_over';
@ico-vk-over-x: 0px;
@ico-vk-over-y: 396px;
@ico-vk-over-offset-x: 0px;
@ico-vk-over-offset-y: -396px;
@ico-vk-over-width: 49px;
@ico-vk-over-height: 24px;
@ico-vk-over-total-width: 638px;
@ico-vk-over-total-height: 420px;
@ico-vk-over-image: '../img/sprite.png';
@ico-vk-over: 0px 396px 0px -396px 49px 24px 638px 420px '../img/sprite.png' 'ico_vk_over';
@ico-ya-name: 'ico_ya';
@ico-ya-x: 475px;
@ico-ya-y: 88px;
@ico-ya-offset-x: -475px;
@ico-ya-offset-y: -88px;
@ico-ya-width: 41px;
@ico-ya-height: 24px;
@ico-ya-total-width: 638px;
@ico-ya-total-height: 420px;
@ico-ya-image: '../img/sprite.png';
@ico-ya: 475px 88px -475px -88px 41px 24px 638px 420px '../img/sprite.png' 'ico_ya';
@ico-ya-over-name: 'ico_ya_over';
@ico-ya-over-x: 414px;
@ico-ya-over-y: 132px;
@ico-ya-over-offset-x: -414px;
@ico-ya-over-offset-y: -132px;
@ico-ya-over-width: 41px;
@ico-ya-over-height: 24px;
@ico-ya-over-total-width: 638px;
@ico-ya-over-total-height: 420px;
@ico-ya-over-image: '../img/sprite.png';
@ico-ya-over: 414px 132px -414px -132px 41px 24px 638px 420px '../img/sprite.png' 'ico_ya_over';
@spritesheet-width: 638px;
@spritesheet-height: 420px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @ico-fb @ico-fb-over @ico-gg @ico-gg-over @ico-tw @ico-tw-over @ico-vk @ico-vk-over @ico-ya @ico-ya-over;
@spritesheet: 638px 420px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
