/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #69747c;
}
ul {
  list-style-type: none;
}
h1 a:hover,
.autor:hover {
  text-decoration: underline;
}
.wrapper {
  margin: auto;
  min-height: 100%;
  height: auto;
  max-width: 973px;
}
.wrapper .container {
  margin-right: 312px;
}
.main_container {
  min-height: 100%;
  padding-bottom: 54px;
}
article {
  text-align: justify;
}
footer {
  height: 54px;
  background-color: #6b9ad0;
  clear: left;
  margin-top: -54px;
}
footer .ava {
  background-image: url("../img/logo_sm.png");
  background-repeat: no-repeat;
  height: 100%;
  margin: auto;
  background-position: 28px 8px;
}
.preloader {
  text-align: center;
  width: 46px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: url("../img/snipper.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 46px;
  margin: auto;
  margin-bottom: 15px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  html {
    min-width: auto;
  }
  footer {
    display: none;
  }
  .wrapper .container {
    margin-right: 0;
  }
}
@media screen and (max-width: 460px) {
  html {
    min-width: 340px;
  }
}
.fixed + .wrapper {
  padding-top: 54px;
}
header {
  text-align: center;
}
header a {
  font-size: 35px;
  color: #6794b7;
  letter-spacing: 6px;
  vertical-align: baseline;
  padding: 18px;
  margin: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
header img {
  vertical-align: middle;
}
nav.menu {
  background-color: #6b9ad0;
  border-bottom: 4px solid #c6defa;
  max-height: 54px;
  width: 100%;
}
nav.menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
nav.menu.fixed .menu_list:before {
  content: url("../img/logo_sm.png");
  padding-top: 7px;
  margin-left: -50px;
  position: relative;
  float: left;
}
nav.menu .btn {
  font-size: 20px;
  color: #608dc1;
  background-color: #7ca7d9;
  line-height: 50px;
  margin-top: 2px;
  float: left;
  cursor: pointer;
  width: 44px;
  display: none;
  position: relative;
}
nav.menu .btn.b_idea,
nav.menu .btn.nav-btn {
  float: right;
}
nav.menu .btn.b_aside {
  background-image: url("../img/stiker.png");
  background-repeat: no-repeat;
  background-position: 5px;
  display: none;
}
nav.menu .btn.active:after,
nav.menu .btn.active:before {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: 2px;
  z-index: 100;
}
nav.menu .btn.active:after {
  bottom: -16px;
  border-color: rgba(107, 154, 208, 0);
  border-top-color: #6b9ad0;
  border-width: 7px;
  margin-left: -7px;
}
nav.menu .btn.active:before {
  bottom: -28px;
  border-color: rgba(198, 222, 250, 0);
  border-top-color: #c6defa;
  border-width: 13px;
  margin-left: -13px;
}
nav.menu .menu_list {
  margin: auto;
  width: 547px;
  min-height: 54px;
  padding: 0;
}
nav.menu .menu_list li {
  float: left;
  min-width: 100px;
  text-align: center;
  height: 54px;
  position: relative;
}
nav.menu .menu_list li a {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 16px 15px;
  vertical-align: middle;
  line-height: 54px;
}
nav.menu .menu_list li a:hover {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  line-height: 54px;
  text-decoration: none;
  background-color: #7ca7d9;
}
nav.menu .menu_list li.active:after,
nav.menu .menu_list li.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
nav.menu .menu_list li.active:after {
  border-color: rgba(107, 154, 208, 0);
  border-top-color: #6b9ad0;
  border-width: 7px;
  margin-left: -7px;
}
nav.menu .menu_list li.active:before {
  border-color: rgba(198, 222, 250, 0);
  border-top-color: #c6defa;
  border-width: 13px;
  margin-left: -13px;
}
@media screen and (max-width: 768px) {
  nav.menu {
    text-align: center;
  }
  nav.menu .btn.b_idea,
  nav.menu .btn.b_about {
    display: block;
  }
  nav.menu .m_wrapp {
    display: inline-block;
  }
  nav.menu .m_wrapp .menu_list a {
    padding: 16px 5px;
  }
  nav.menu.fixed .menu_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav.menu.fixed .menu_list:before {
    content: none;
  }
  nav.menu .menu_list {
    width: auto;
  }
  nav.menu .menu_list a {
    padding: 16px 5px;
  }
  nav.menu .menu_list li {
    min-width: auto;
  }
}
@media screen and (max-width: 460px) {
  header a {
    font-size: 20px;
    letter-spacing: 3px;
  }
  header a img {
    width: 35px;
    min-width: 35px;
  }
  nav.menu {
    border: none;
    min-height: 34px;
  }
  nav.menu .btn {
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-right: 2px;
    display: inherit;
  }
  nav.menu .btn.b_idea {
    float: left;
  }
  nav.menu .btn.b_aside {
    display: block;
  }
  nav.menu.fixed {
    background-image: url("../img/fix-mob-logo.png");
    background-repeat: no-repeat;
    background-position: 110px;
    height: 34px;
  }
  nav.menu.fixed .menu_list {
    display: none;
  }
  nav.menu .m_wrapp {
    width: 100%;
    display: none;
  }
  nav.menu .m_wrapp.visible {
    display: inline-block;
  }
  nav.menu .menu_list {
    background-color: #E1EEFC;
    height: 100%;
    margin: 2px 0 0 0;
  }
  nav.menu .menu_list li {
    float: inherit;
    margin: 0 20px;
    height: 40px;
    border-bottom: 1px solid white;
  }
  nav.menu .menu_list li:before {
    display: none;
  }
  nav.menu .menu_list li:after {
    display: none;
  }
  nav.menu .menu_list li:last-child {
    border-bottom: 0;
  }
  nav.menu .menu_list li a {
    color: #6b9ad0;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 45px;
  }
  nav.menu .menu_list li a:hover {
    background-color: transparent;
    text-decoration: underline;
    line-height: 45px;
  }
  nav.menu .menu_list.visible {
    display: block;
  }
  .nav-btn {
    float: right;
  }
  .nav-btn :first-child {
    margin-top: 10px;
  }
  .nav-btn span {
    background-color: #FFF;
    height: 2px;
    width: 20px;
    float: right;
    clear: both;
    margin-bottom: 3px;
    display: block;
    margin-right: 4px;
  }
}
aside {
  float: right;
  width: 312px;
  padding: 0 30px 28px 28px;
  box-sizing: border-box;
}
aside section {
  margin: 0 0 35px;
}
aside section:first-child h2:before {
  content: "?";
  background-color: #6794b7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 30px;
  padding: 2px 0 0 2px;
  text-align: center;
  margin-right: 15px;
  display: inline-block;
}
aside h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6794b7;
  letter-spacing: 3px;
  border-bottom: 5px solid #6794b7;
  line-height: 23px;
  margin-top: 0;
}
aside h2:before {
  content: "!";
  background-color: #6794b7;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 30px;
  padding: 2px 0 0 2px;
  text-align: center;
  margin-right: 15px;
  display: inline-block;
}
aside nav .link_cloud {
  margin: 0;
  padding: 0;
}
aside nav .link_cloud li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
aside nav .link_cloud a {
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  background-color: #6794b7;
  padding: 0 0 1px 5px;
  margin-bottom: 4px;
  margin-top: 0;
  line-height: 17px;
  display: block;
}
aside nav .link_cloud a:after {
  content: "";
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 6px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
}
aside nav .link_cloud a:before {
  content: "";
  height: 0;
  width: 0;
  border: 9px solid transparent;
  border-left-color: #6794b7;
  border-right: 0;
  position: absolute;
  top: 0;
  left: 100%;
}
aside nav .link_cloud a:hover {
  background-color: #b2d4ec;
}
aside nav .link_cloud a:hover:before {
  border-left-color: #b2d4ec;
}
.hidden_container.hidden {
  display: none;
}
.hidden_container.visible {
  position: absolute;
  top: 0;
}
.hidden_container h2 {
  display: none;
}
.hidden_container h2.active {
  display: block;
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
    position: relative;
  }
  aside {
    width: auto;
    padding: 10px 60px 0 60px;
    margin: 0;
    float: none;
  }
  aside section {
    margin: 0;
  }
  aside section.visible {
    display: block;
  }
  aside section h2,
  aside section p {
    display: none;
  }
  aside .link_cloud {
    display: inline-block;
  }
  aside nav {
    text-align: center;
    padding: 10px 0 0 0;
  }
  .hidden_container {
    display: none;
  }
  .hidden_container.visible {
    display: inline;
    width: 100%;
  }
  .hidden_container.fixed {
    display: inline;
    position: fixed;
    top: 54px;
    z-index: 100;
  }
  .hidden_container p {
    padding: 10px 50px 10px 0;
    text-align: justify;
  }
  .hidden_container h2.hidden {
    display: none;
  }
  .hidden_container h2.h_about,
  .hidden_container h2.h_idea {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    background-color: #EEF4FA;
    color: #6290B4;
    width: 110px;
    transform: rotate(-90deg);
    top: 17px;
    position: relative;
    left: -33px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-bottom: 20px;
    margin-right: -30px;
  }
  .hidden_container h2.h_about {
    float: left;
    margin-right: -33px;
    left: -33px;
  }
  .hidden_container h2.h_idea {
    float: right;
    margin-right: 0;
    left: 33px;
  }
}
@media screen and (max-width: 460px) {
  .wrapper aside {
    padding-top: 0px;
    background-color: #e1eefc;
  }
  .wrapper aside nav {
    display: none;
  }
  .wrapper aside nav.visible {
    display: inherit;
  }
  .wrapper aside.mob_visible {
    background-color: #e1eefc;
    color: #6689a5;
    display: block;
    padding: 10px 30px 5px 30px;
  }
  .wrapper aside p {
    margin: 0;
    padding: 10px 0;
  }
}
.container article {
  margin: 50px 0 8px 30px;
}
.container article figure {
  margin: 0;
  padding: 0;
}
.container article figure img {
  max-width: 100%;
}
.container article figcaption {
  font-size: 20px;
  color: #69747c;
  margin: 5px 15px 13px 0;
  padding: 0;
}
.container article .info {
  border-bottom: 1px solid #e2e5e8;
  border-top: 1px solid #e2e5e8;
  height: 40px;
  margin: 0 0 17px;
  padding: 0;
}
.container article .info li {
  display: inline-block;
}
time,
.autor,
article,
p {
  font-size: 12px;
  color: #69747c;
  text-align: justify;
}
time,
.autor,
.social {
  line-height: 40px;
}
time:before {
  content: url("../img/clock.png");
  padding: 7px;
}
.autor:before {
  content: url("../img/big_foot.png");
  padding: 0 7px;
  position: relative;
  display: inline-block;
  top: 3px;
}
.social {
  float: right;
}
.social li {
  display: inline-block;
}
.social li a {
  display: inline-block;
  margin-top: 8px;
}
.social li a.fb {
  background-image: url(../img/sprite.png);
  background-position: -345px -176px;
  width: 49px;
  height: 24px;
}
.social li a.fb:hover {
  background-position: -276px -220px;
}
.social li a.gg {
  background-image: url(../img/sprite.png);
  background-position: -597px 0px;
  width: 41px;
  height: 24px;
}
.social li a.gg:hover {
  background-position: -536px -44px;
}
.social li a.tw {
  background-image: url(../img/sprite.png);
  background-position: -207px -264px;
  width: 49px;
  height: 24px;
}
.social li a.tw:hover {
  background-position: -138px -308px;
}
.social li a.vk {
  background-image: url(../img/sprite.png);
  background-position: -69px -352px;
  width: 49px;
  height: 24px;
}
.social li a.vk:hover {
  background-position: 0px -396px;
}
.social li a.ya {
  background-image: url(../img/sprite.png);
  background-position: -475px -88px;
  width: 41px;
  height: 24px;
}
.social li a.ya:hover {
  background-position: -414px -132px;
}
@media screen and (min-width: 768px) and (max-width: 948px) {
  .container article .info li:first-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .container {
    width: auto;
  }
  .wrapper .container article {
    margin: 30px 0 8px 30px;
    padding-right: 67px;
    position: relative;
  }
  .wrapper .container article img {
    width: 100%;
  }
  .wrapper .container .social {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
  }
  .wrapper .container .social ul li {
    display: inherit;
    float: right;
    clear: right;
    margin: 0;
    padding: 0;
    line-height: 18px;
  }
  .wrapper .container .social ul li a {
    margin-top: 0px;
  }
}
@media screen and (max-width: 460px) {
  .wrapper .container article {
    margin: 40px 30px 70px;
    padding-right: 0px;
    padding-bottom: 1px;
  }
  .wrapper .container article figure {
    background-color: #f4f5f6;
    text-align: center;
    margin-bottom: 10px;
  }
  .wrapper .container article figure figcaption {
    margin: 0;
    padding: 0 0 8px 0;
  }
  .wrapper .container article figure a {
    font-size: 15px;
  }
  .wrapper .container article .social {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .wrapper .container article .social ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .wrapper .container article .social ul li {
    float: none;
    display: inline;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Arial;
}
.hidden {
  display: none;
}
.visible {
  display: inherit;
}
