@font: Arial;
@font-headers: 'Roboto', sans-serif;
@color-dark: #6794b7;
@color-text: #69747c;
@color-bg: #6b9ad0;
@color-border: #c6defa;
@color-menu-bg: #7ca7d9;
@color-link: #fff;

@import "components/sprite.less";
@import "components/common.less";
@import "components/header.less";
@import "components/aside.less";
@import "components/container.less";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: @font;
}
.hidden {
  display: none;
}
.visible {
  display: inherit;
}
